body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #1b1717;
  font-size: 30px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

#city-input {
  border: 1px solid #ceeaf5;
}

#search-button {
  background-color: #ceeaf5;
  color: white;
}

#search-button:hover {
  background-color: #f8f5f1;
  border: 1px solid #ceeaf5;
  color: black;
}

#weather-icon {
  width: 70px;
  height: 70px;
}

.city-header {
  margin-bottom: 25px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
  margin-bottom: 0px;
}

.vanilla-weather-app {
  background-image: linear-gradient(to top, #ace0f9 0%, #f8f5f1 80%);
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid #ade1f8;
  border-radius: 10px;
  max-width: 800px;
}

.current-weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.current-weather-temperature strong {
  font-size: 46px;
  font-weight: 400;
  line-height: 1;
}

.current-weather-temperature .units {
  position: relative;
  top: -20px;
}

.current-weather-temperature .active {
  color: #1b1717;
  text-decoration: none;
}

.current-weather-temperature .active:hover {
  cursor: default;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-weekday {
  margin-top: 50px;
  font-size: 15px;
}

.weather-forecast-temperature-min {
  color: #194350;
  opacity: 0.7;
}

.weather-forecast-temperature-max {
  color: black;
}
